@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent-color: #083344;
    --background-color: white;
}

body {
    display: block;
    height: 100vh;
    width: 100%;
    margin: auto;
}

main {
    grid-template-rows: 0fr 1fr;
    @apply 
        w-full h-full 
        bg-gray-200;
}